
#register-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#register-page .card-panel.border-radius-6.register-card {
    margin-left: 0 !important;
}

div.chat-box {
    display:block;
    height:500px;
    overflow:auto;
    padding: 10px 20px;
    border-radius: 15px;
  }

  div.card.indigo.lighten-5.text-wrap.chat-right {
    float: right;
    width: 60%;
    clear: both;
}

div.card.grey.lighten-3.text-wrap.chat-left {
    float: left;
    width: 60%;
    clear: both;
}

div.card p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.box-shadow {
    -webkit-box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    -moz-box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    border-radius: 15px;
}

div.text-wrap {
    padding: 10px;
    font-size: 16px;
}

form.submit-query {
    margin: 15px 10px;
}

.loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

