div.chat-box {
    display:block;
    height: 70vmin;
    overflow:auto;
    padding: 10px 20px;
    border-radius: 15px;
  }

  div.card.indigo.lighten-5.text-wrap.chat-right {
    float: right;
    width: 60%;
    clear: both;
}

div.card.grey.lighten-3.text-wrap.chat-left {
    float: left;
    width: 60%;
    clear: both;
}

div.card p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.box-shadow {
    -webkit-box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    -moz-box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    box-shadow: 2px 2px 3px 1px rgba(152,152,158,1);
    border-radius: 15px;
}

div.text-wrap {
    padding: 10px;
    font-size: 16px;
}

form.submit-query {
    margin: 15px 10px;
}

.loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.like-icons {
    float: right;
}

i.icon-green {
    color: #1b5e20;
    padding: 5px;
}

i.icon-red {
    color: #b71c1c;
    padding: 5px;
}
